
*{
  margin:0;
}
body{
  background-color:black;
  overflow: hidden;
}
.landing{
  position: absolute;
  /*background-image: url('images/landing.png');*/
  background-size:cover;
  background-color: black;
  background-repeat: no-repeat;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 6

}
#intro{
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}
#landingB{

position: absolute;
height: 80px;
width:120px;
border: 3px solid black;
background-color: orange;
font-family: 'Futura';
font-size:40px;
top: 70%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
}
#landingB:hover{
border: 3px solid orange;
background-color: black;
font-family: 'Futura';
font-size:40px;
color: white;
}


#p1{
  position:absolute;
  color: white;
  top:6%;
  left: 58%;
  font-size: 30px;
  z-index: -1;
}
#p2{
  position:absolute;
  color: white;
  top:10%;
  left: 58%;
  font-size: 30px;
  z-index: -1;
}

span{
  color: orange;
}


.container {
    position:absolute;
    background: url('images/racetrack2.png');
    background-repeat: repeat-x;
    width:1450px;
    height:700px;
    top:50%;
    left:50%;
    border:5px solid gray;
    transform: translateX(-50%) translateY(-50%);
    animation: loop 1s linear infinite;
    animation-play-state:paused;
    z-index: -2;

}

@keyframes loop {
  from {
    background-position: 0;
  }

  to {
    background-position: -1200px;
  }
}


#logo{
  position: absolute;
  left: 500px;

  z-index: -1;
}

#car{
  position:absolute;
top: 390px;
left: 0px;
 height: 100px;
  width: 500px;

}
#car2{
position: absolute;
top: 500px;
left: 0px;
 height: 100px;
  width: 500px;
}
#object{
position: absolute;
  top: 400px;
  left: 3000px;
  z-index: -1;
  height: 200px;
  width: 500px;
  animation: loop 1s linear infinite;
}


.player1{
  position: absolute;
  display:hidden;
  height: 450px;
  width: 900px;
  border-radius: 10%;
  background-color: rgba(0,0,0,.8);
  top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    display:none;
}

.player2{
  position: absolute;
  display:hidden;
  height: 450px;
  width: 900px;
  border-radius: 10%;
  background-color: rgba(0,0,0,.8);
  top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}
.finishLine{
  position: absolute;
  margin-left: 820px;
  margin-top: 60px;
  display: none;
  z-index: 0;

}

#audio{
display: none;
}
#endsound{
  display: none;
}
#wheel1{
  position: absolute;
  left: 346.5px;
  top: 78px;
  animation: spin .01s linear infinite;
  animation-play-state: paused;

}

#wheel2{
  position: absolute;
  left: 50px;
  top: 70px;
  animation: spin .01s linear infinite;
  animation-play-state: paused;

}

#wheel3{
  position: absolute;
  left: 380px;
  top: 70px;
  animation: spin .01s linear infinite;
  animation-play-state: paused;

}

#wheel4{
  position: absolute;
  left: 71px;
  top: 70px;
  animation: spin .01s linear infinite;
  animation-play-state: paused;

}

#wheel5{
  position: absolute;
  left: 345px;
  top: 43px;
  animation: spin2 .01s linear infinite;
  animation-play-state: paused;

}

#wheel6{
  position: absolute;
  left: 70px;
  top: 47px;
  animation: spin2 .01s linear infinite;
  animation-play-state: paused;

}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }

@keyframes spin2 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
  }


.replayB{

position: absolute;
height: 40px;
width:100px;
border: 1px solid black;
background-color: orange;
font-family: 'Futura';
font-size:14px;
left: 5%;
top:3%;
transform: translateX(-50%) translateY(-50%);

}

.replayB:hover{
border: 3px solid orange;
background-color: black;
font-family: 'Futura';
font-size:14px;
color: white;
}

.startB{

position: absolute;
height: 40px;
width:100px;
border: 1px solid black;
background-color: orange;
font-family: 'Futura';
font-size:20px;
left: 20%;
top:3%;
transform: translateX(-50%) translateY(-50%);
}

.startB:hover{
border: 3px solid orange;
background-color: black;
font-family: 'Futura';
font-size:20px;
color: white;
}
